__Цель__

__Ход исследования__

<div class="alert alert-info">
    
__Шаг 1__

In [1]:
#загрузили датасет
import pandas as pd

try:
    data = pd.read_csv('/datasets/games.csv')
except:
    data = pd.read_csv('games.csv')

<div class="alert alert-info">
    
__Шаг 2__

In [2]:
#привели названия столбцов к нижнему регистру
data.columns = map(str.lower, data.columns)

In [3]:
data

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [20]:
#посомтрим на данные по внимательней
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB
None

In [21]:
#проверка на явные пропуски 
data.isna().sum()

name                  2
platform              0
year_of_release     269
genre                 2
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
critic_score       8578
user_score         6701
rating             6766
dtype: int64

Наблюдаем пропуски в названии игры (скорее всего 2 значения были пропущены случайно). Пропущен маленький процент 269/16713*100 = 1,6% года выпуска игры. У половины игр оценка критиков отсутвует, у 40% нет пользовательских оценок и рейтинга от ассоциации ESRB.

In [43]:
# Отсекаем нулы, заменяем tbd на 0
data = data.fillna(0)
data[data['user_score'] == 'tbd'] = 0
data['user_score'] = data['user_score'].astype('float64')

In [44]:
#продажи каждой игры в всех регионах 
data['sales_sum'] = data['na_sales'] + data['eu_sales'] + data['jp_sales']

<div class="alert alert-info">
    
__Шаг 3__

In [24]:
# Продажи по годам
data[['name', 'year_of_release']].groupby('year_of_release').count()

                 name
year_of_release
0.0              2645
1980.0              9
1981.0             46
1982.0             36
1983.0             17
1984.0             14
1985.0             14
1986.0             21
1987.0             16
1988.0             15
1989.0             17
1990.0             16
1991.0             41
1992.0             43
1993.0             62
1994.0            121
1995.0            219
1996.0            263
1997.0            288
1998.0            379
1999.0            330
2000.0            307
2001.0            400
2002.0            637
2003.0            680
2004.0            655
2005.0            818
2006.0            882
2007.0           1005
2008.0           1101
2009.0           1021
2010.0            924
2011.0            919
2012.0            629
2013.0            529
2014.0            560
2015.0            568
2016.0            468

Объем выпущенных игр до 1994 года не превывашет 100, и только после начинается рост. Есть смысл только на период с 1994 по 2016.

In [25]:
# Продажи по платформам
data[['name', 'platform']].groupby('platform').count()

          name
platform
0         2424
2600       133
3DO          3
3DS        464
DC          52
DS        1395
GB          98
GBA        560
GC         453
GEN         29
GG           1
N64        319
NES         98
NG          12
PC         925
PCFX         1
PS        1152
PS2       1921
PS3       1244
PS4        386
PSP       1086
PSV        423
SAT        173
SCD          6
SNES       239
TG16         2
WS           6
Wii        880
WiiU       142
X360      1178
XB         674
XOne       236

In [ ]:
#За какой характерный срок появляются новые и исчезают старые платформы?
#думаю надо тут график какой-то с годами

In [26]:
# •	Какие платформы лидируют по продажам,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    16715 non-null  object
dtypes: object(1)
memory usage: 130.7+ KB
None

<div class="alert alert-info">
    
__Шаг 4__

In [ ]:
# тут из прошлого проекта
#locality_name = df.pivot_table(index='locality_name', values='last_price', aggfunc=['count'])
#locality_name.columns = ['count']
#создаем список из верхних топ-10 городо

#top10 = locality_name.sort_values(by='count', ascending=False).head(10)
#for city in top10.index:
#создает 10 столбцов вида (mean_price, Санкт-Петербург) со средним по городу в каждой строке
#    top10[city] = df.query('locality_name == @city')['price_metr'].mean()
#top10

<div class="alert alert-info">
    
__Шаг 5__

In [32]:
# Средние пользовательские рейтинги платформ Xbox One и PC одинаковые - нулевая гипотеза
from scipy import stats as st
sample_1 = data#срез по столбцу user_score и отбором по Xbox One
sample_2 = #срез по столбцу user_score и отбором по PC
results = st.ttest_ind(sample_1, sample_2, equal_var = True)
print('p-значение: ', results.pvalue)

alpha = .05

if results.pvalue < alpha:
    print("Отергаем нулевую гипотезу")
else:
    print("Не получилось отвергнуть нулевую гипотезу")

SyntaxError: invalid syntax (1899786742.py, line 4)

In [ ]:
data.platform.unique()

In [34]:
#пыталась сделать срез не получилось, по идее тут должны быть и PS PS2 PS3 PS4
sample_1 = data.query('platform == `PS`')
sample_1

UndefinedVariableError: name 'PS' is not defined

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 0, 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG',
       'TG16', '3DO', 'GG', 'PCFX'], dtype=object)

In [ ]:
# Средние пользовательские рейтинги жанров Action (англ. «действие», экшен-игры) и Sports (англ. «спортивные соревнования») разные.
from scipy import stats as st
sample_1 = #срез по столбцу user_score и отбором по жанру Action
sample_2 = #срез по столбцу user_score и отбором по по жанру Sports
results = st.ttest_ind(sample_1, sample_2, equal_var = False)
print('p-значение: ', results.pvalue)

alpha = .05

if results.pvalue < alpha:
    print("Отергаем нулевую гипотезу")
else:
    print("Не получилось отвергнуть нулевую гипотезу")

__Вывод:__
#Как вы сформулировали нулевую и альтернативную гипотезы;
#Какой критерий применили для проверки гипотез и почему