In [325]:
# подключаем нужны библиотеки
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [326]:
# читаем файл

try:
    data = pd.read_csv('/datasets/games.csv')
except:
    data = pd.read_csv('games.csv')

Шаг 2

In [327]:
# Приводим столбцы к нижнему регистру

data.columns = map(str.lower, data.columns)

In [328]:
# Проверяем вывод датафрейма

data

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [329]:
# Проверяем типы данных столбцов

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [330]:
# Обрабатываем пропуски
# critic_score - описание почему tbd = 0 выше. Nan значение заменяем на 0
# user_score - Nan значение заменяем на 0

# TODO: по фатку все что Nan заменилост на 0, в rating возможно критично

data = data.fillna(0)

In [331]:
# Преобразовываем данные к нужному типу
# year_of_release - преобразуем в int64, так как указывается только год
# user_score - преобразуем в float64, tbd заменяем на 0. tbd значит что оценка еще не выставлена, значит равна 0

data['year_of_release'] = data['year_of_release'].apply(np.int64)
data[data['user_score'] == 'tbd'] = 0
data['user_score'] = data['user_score'].astype(np.float64)
data

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,0.0,0.0,0
2,Mario Kart Wii,Wii,2008,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016,Action,0.00,0.00,0.01,0.00,0.0,0.0,0
16711,LMA Manager 2007,X360,2006,Sports,0.00,0.01,0.00,0.00,0.0,0.0,0
16712,Haitaka no Psychedelica,PSV,2016,Adventure,0.00,0.00,0.01,0.00,0.0,0.0,0
16713,Spirits & Spells,GBA,2003,Platform,0.01,0.00,0.00,0.00,0.0,0.0,0
16714,Winning Post 8 2016,PSV,2016,Simulation,0.00,0.00,0.01,0.00,0.0,0.0,0

In [332]:
# Считаем суммарные продажи по регионам

data['sales_sum'] = data['na_sales'].sum() + data['eu_sales'].sum() + data['jp_sales'].sum()

Шаг 3

In [333]:
# Смотрим сколько игр выпускалось в разные годы

data[['year_of_release', 'name']].groupby('year_of_release').count()

                 name
year_of_release
0                2645
1980                9
1981               46
1982               36
1983               17
1984               14
1985               14
1986               21
1987               16
1988               15
1989               17
1990               16
1991               41
1992               43
1993               62
1994              121
1995              219
1996              263
1997              288
1998              379
1999              330
2000              307
2001              400
2002              637
2003              680
2004              655
2005              818
2006              882
2007             1005
2008             1101
2009             1021
2010              924
2011              919
2012              629
2013              529
2014              560
2015              568
2016              468

Объем выпущенных игр до 1994 года не превывашет 100, и только после начинается рост. Есть смысл только на период с 1994 по 2016.

In [344]:
# Смотрим суммарные продажи по платформам по годам. Для этого формируем фрейм [Платформа, Год, сумма продаж]
# Нормализуем данные, отсекаем года и платформы с Nan значениями

plot_df = data[['platform', 'year_of_release', 'name']][(data['platform'] !=0) & (data['year_of_release'] != 0)].groupby(['platform', 'year_of_release']).count()
np.array(plot_df)

array([[  9],
       [ 46],
       [ 36],
       [ 11],
       [  1],
       [  1],
       [  2],
       [  6],
       [  2],
       [  2],
       [  1],
       [  2],
       [ 91],
       [ 89],
       [ 87],
       [ 71],
       [ 77],
       [ 43],
       [  7],
       [ 14],
       [ 20],
       [  8],
       [  1],
       [  1],
       [  1],
       [  1],
       [ 22],
       [101],
       [166],
       [273],
       [309],
       [217],
       [179],
       [ 91],
       [ 15],
       [  3],
       [  1],
       [ 10],
       [  3],
       [  9],
       [  7],
       [  3],
       [  4],
       [  6],
       [  8],
       [  8],
       [ 11],
       [ 17],
       [ 10],
       [  1],
       [ 63],
       [115],
       [114],
       [127],
       [ 98],
       [ 30],
       [  5],
       [ 20],
       [116],
       [125],
       [ 68],
       [ 79],
       [ 32],
       [  2],
       [  1],
       [  1],
       [  6],
       [  9],
       [ 12],
       [  1],
       [ 18],
       [ 49],
       [ 77],
       [102],
       [ 60],
       [  9],
       [  1],
       [  6],
       [ 13],
       [ 11],
       [ 19],
       [ 10],
       [ 11],
       [  5],
       [  8],
       [  7],
       [  3],
       [  4],
       [  1],
       [  2],
       [  4],
       [  4],
       [  2],
       [  1],
       [  1],
       [  5],
       [  6],
       [  2],
       [  4],
       [  6],
       [  8],
       [  6],
       [  7],
       [ 15],
       [ 18],
       [ 33],
       [ 30],
       [ 36],
       [ 50],
       [ 60],
       [ 69],
       [ 96],
       [ 84],
       [126],
       [ 61],
       [ 38],
       [ 46],
       [ 48],
       [ 52],
       [  1],
       [ 17],
       [ 99],
       [164],
       [187],
       [248],
       [193],
       [133],
       [ 82],
       [ 20],
       [  3],
       [ 66],
       [164],
       [245],
       [245],
       [245],
       [245],
       [241],
       [183],
       [148],
       [ 74],
       [ 29],
       [  6],
       [ 26],
       [ 88],
       [131],
       [150],
       [165],
       [192],
       [145],
       [125],
       [103],
       [ 62],
       [ 32],
       [ 16],
       [ 75],
       [136],
       [159],
       [ 14],
       [ 92],
       [158],
       [113],
       [ 86],
       [135],
       [172],
       [134],
       [104],
       [ 54],
       [ 10],
       [  3],
       [ 18],
       [ 53],
       [ 63],
       [100],
       [104],
       [ 84],
       [ 19],
       [ 52],
       [ 38],
       [ 34],
       [ 29],
       [  1],
       [  1],
       [  5],
       [  4],
       [ 24],
       [ 21],
       [ 46],
       [ 53],
       [ 54],
       [ 30],
       [  4],
       [  2],
       [  1],
       [  2],
       [  2],
       [  2],
       [  2],
       [ 41],
       [162],
       [218],
       [192],
       [126],
       [ 82],
       [ 25],
       [  8],
       [  3],
       [  1],
       [ 32],
       [ 42],
       [ 30],
       [ 27],
       [ 11],
       [ 18],
       [ 92],
       [115],
       [138],
       [157],
       [169],
       [179],
       [105],
       [ 74],
       [ 61],
       [ 33],
       [  8],
       [  1],
       [ 27],
       [121],
       [160],
       [149],
       [149],
       [ 46],
       [  3],
       [  1],
       [ 19],
       [ 61],
       [ 77],
       [ 79]])